#startBtn, #nextBtn {
    background: green;
}

#nextBtn {
    font-weight: bolder;
    float: right;
    margin-right: 50px;
}

#timeRemaining {
    font-weight: bolder;
    float: right;
    margin-right: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.card {
    width: auto;
    margin: auto;
    margin-top: 10%;
    max-width: 600px;
    min-width: 100%;
    box-shadow: 1px 2px 0px 0px;
}

.answerBtns {
    display: grid;
    margin: 10px;
}

p {
    text-align: left;
}

:root {
    /* --hue-neutral: 200, 100%, 97%; */
    --hue-correct: 145, 100%, 20%;
    --hue-wrong: 0, 100%, 35%;
}

div.card-footer {
    /* --hue: var(--hue-neutral); */
    background-color: hsl(var(--hue));
}

div.card-footer.correct {
    --hue: var(--hue-correct);
}

div.card-footer.wrong {
    --hue: var(--hue-wrong);
}