#start-btn, #nextBtn {
    font-weight: bolder;
    background: green;
}

#nextBtn {
    float: right;
    margin-right: 5px;
}

#start-btn {
    margin-left: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#timeRemaining {
    font-weight: bolder;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.card {
    width: 600px;
    margin: auto;
    margin-top: 10%;
    max-width: 80%;
    min-width: 100%;
    box-shadow: 1px 2px 0px 0px;
}

#card-header {
    
}

.btn-grid {
    display: grid;
    margin: 5px;
}

/* p {
    text-align: left;
} */

:root {
    /* --hue-neutral: 200, 100%, 97%; */
    --hue-correct: 145, 100%, 20%;
    --hue-wrong: 0, 100%, 35%;
}

#card-footer {
    /* --hue: var(--hue-neutral); */
    background-color: hsl(var(--hue));
}

#card-footer.correct {
    --hue: var(--hue-correct);
}

#card-footer.wrong {
    --hue: var(--hue-wrong);
}

.hide {
    display: none;
}

